# Set this to a URL (for network fetch) or a local file path (for local JSON)
# URL example:
#VITE_DATA_SOURCE=https://pub-d6db99c9b68842a5b6f527e86583f256.r2.dev/events.json
# Local file example (place events.json in the /public folder):
VITE_DATA_SOURCE=/events.json
